*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 97vh;
    background: linear-gradient(to right, #d4e3fc, #a2b6f5);
}
fieldset{
    border-radius: 10px;
    width: 40%;
    background-color: rgb(0,0,0,0.1);
    margin-top: 20px
}
.containercb{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-template-rows: repeat(auto-fit, 1fr);
    margin-top: 10px;
    margin-bottom: 10px;
}
.containercb input{
    width: 50%;
    height: 30px;
    border: none;
}

label {
    display: block;
}

input{
    width: 70%;
    height: 30px;
    border: none;
    accent-color: green;
}

select{
    width: 71%;
    height: 30px;   
    border:none;
}

button{ 
    text-align: center;
    margin:10px auto;
    display: block; 
    width: 40%;
    height: 30px;
    border-radius: 8px;
}

button:hover {
    background-color: #229be1;
    color:white;
}